@import "~styles/base.less";
@import "~styles/iconButton.less";
@import "~styles/inlineButton.less";
@import "~styles/textInput.less";
@import (reference) "~styles/colors.less";

//    .a0-editor
//        .a0-editor-split
//            .a0-editor-left
//                .a0-editor-toolbar
//                .a0-editor-body
//                    .a0-editor-ace
//            .a0-editor-right
//                .a0-editor-toolbar
//                .a0-editor-sidebar
//                    .a0-logs-viewer
//        .a0-editor-footer
//            .a0-webtask-url
//                .a0-container-url
//                .a0-name-input
//                .a0-copy-button
//            .a0-footer-actions
//                TODO

@widget-height: 500px;
@toolbar-height: 42px;
@toolbar-bg-color: #F4F7FC;
@footer-height: 47px;
@editor-height: @widget-height - @toolbar-height - @footer-height;
@editor-width: 60%;
@editor-bg-color: #FFF;
@lines-bg-color: #F8F9FC;

@sidebar-dark-color: rgb(33, 43, 58);
@sidebar-light-color: #CCC;

.a0-editor-widget {
    display: flex;
    flex-direction: column;

    color: @text-dark-color;
    font-family: 'avenir-next-web', ;
    font-size: 14px;

    & > .a0-editor-split {
        flex: 0 0 @toolbar-height + @editor-height;
    }

    & > .a0-editor-footer {
        flex: 0 0 @footer-height;
    }
}

.a0-editor-split {
    display: flex;
    flex-direction: row;

    & > .a0-editor-left {
        flex: 1 1 auto;
    }

    & > .a0-editor-right {
        flex: 0 0 auto;
        min-width: 40%;
    }
}

.a0-editor-left, .a0-editor-right, .a0-editor-center{
    display: flex;
    flex-direction: column;

    & > .a0-editor-toolbar {
        flex: 0 0 @toolbar-height;
    }

    & > .a0-editor-body, .a0-editor-sidebar {
        flex: 1 1;
        height: @editor-height;
    }

    & > .a0-editor-loading {
        flex: 0 0 @toolbar-height;
        display: flex;
        flex-direction: row;

        background-color: @toolbar-bg-color;

        span {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 25px;
        }
    }
}

.a0-editor-toolbar {
    display: flex;
    flex-direction: row;

    background-color: @toolbar-bg-color;

    .a0-editor-left > & {
        align-items: stretch;
        justify-content: flex-start;

        & > .a0-icon-button {
            flex: 0 0 auto;
        }
    }

    .a0-editor-right > & {
        align-items: stretch;
        justify-content: center;

        & > .a0-pane-selector {
            flex: 1 1 auto;
        }
    }
}

.a0-pane-selector {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    & > .a0-icon-button {
        flex: 1 1 auto;
        opacity: .4;

        &:before {
            vertical-align: top;
        }

        &.-arrow-below {
            position: relative;
            opacity: 1;

            @triangle-size: 8px;

            &:after {
                top: 100%;
                left: 50%;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border: solid transparent;
                border-bottom-color: @sidebar-dark-color;
                border-width: @triangle-size;
                margin-left: -@triangle-size;
                margin-top: -(2* @triangle-size);
            }

            // &.-history:after,
            &.-split:after {
                border-bottom-color: @logs-dark-color;
            }
        }
    }
}


.a0-editor-body {
    display: flex;
    flex-direction: column;
    position: relative;

    & > .a0-error-message {
        flex: 0 0 auto;
        min-height: 25px;
    }

    & > .a0-editor-ace {
        flex: 1 1;
        font-family: "Roboto Mono";
    }
}

.a0-error-message {
    background-color: @danger-dark-color;
    color: @danger-light-color;
    padding: 0.5em 3em;
}

.a0-editor-ace {
    &.ace_editor {
        background-color: @editor-bg-color;

        .ace_gutter {
            background-color: @lines-bg-color;
            color: @text-dark-color;
        }

        .ace_storage {
            color: #1D75B3;
        }

        .ace_entity.ace_name.ace_function {
            color: #047D65;
        }

        .ace_keyword.ace_operator,
        .ace_paren,
        .ace_variable.ace_parameter,
        .ace_punctuation.ace_operator {
            color: #2F383D;
        }

        .ace_constant.ace_language {
            color: #75438A;
        }

        .ace_string {
            color: #B35E14;
        }
    }
}

.a0-editor-sidebar {
    position: relative;

    background-color: @sidebar-dark-color;
    color: @sidebar-light-color;

    & > .a0-sidebar-pane {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.a0-sidebar-pane {
    display: none;
    position: relative;

    & > * {
        flex: 1 1 auto;
    }

    &.-active {
        display: flex;
        flex-direction: column;
    }

    & > .a0-logs-widget {

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.a0-sidebar-intro {
    margin-bottom: 1em;

    & > .a0-title {
        color: @text-light-color;
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 1em;
    }

    & > .a0-explanation {
        color: darken(@text-light-color, 30%);
        font-size: 13px;

    }
}

.a0-editor-footer {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: @toolbar-bg-color;

    & > .a0-webtask-url {
        flex: 1 1 auto;
        margin-right: 1em;
    }

    & > .a0-footer-actions {
        flex: 0 0 auto;
    }
}

.a0-webtask-url {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;

    & > .a0-container-url {
        flex: 0 1 auto;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-left: 1em;
        color: #5C666F;
    }
    & > .a0-name-input {
        flex: 0 1 10em;
        margin-left: 4px;
        color: #5C666F;
    }

    & > .a0-copy-button {
        flex: 0 0 20px;
    }
}

.a0-name-input {
    background-clip: padding-box;
    -webkit-appearance: none;
    background-color: @input-bg-color;
    color: inherit;
    height: 28px;
    line-height: 28px;
    border: none;
    border-radius: 4px;
    padding: 0 4px;

    &:focus {
        outline: none;
    }
}

.a0-footer-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    & > .a0-inline-button {
        flex: 0 0 auto;
        margin: 0 1em 0 0;
    }
}




.a0-schedule-pane {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2em;

    .a0-schedule-display {
        margin: 1em auto;
    }

    .a0-schedule-editor {
        font-size: 120%;
        margin: 1em auto;
    }

    .a0-advanced-cron {
        margin: 1em auto 1em;
    }

    .a0-cron-editor {
        margin: 2em auto;
    }
}

.a0-schedule-display {
    display: flex;
    flex-direction: row;
    align-items: center;

    .a0-next-run, .a0-toggle-button {
        flex: 0 0 auto;
    }

    .a0-toggle-button {
        margin-left: 1em;
    }
}

.a0-schedule-editor {

    &[disabled] {
        opacity: 0.5;
        pointer-events: none;
        user-select: none;
    }

    & > .a0-inline-text {
        margin-right: .6em;
    }

    .a0-custom-select {
        display: inline-block;
        position: relative;
        padding: 0.2em 0.6em;
        margin-right: 0.7em;

        & > .a0-metric, & > .a0-value {
            color: @text-dark-color;
            // margin: 0 0.5em;

            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: transparent;
            border-radius: 0;
            border: 0;
            color: #ddd;
            padding-right: 0.8em;

            & > .btn {
                background: transparent;
                border: none;
                outline: none;
                border-radius: 0;
                border-bottom: 1px solid @text-dark-color;

                &:hover, &:hover span, span:hover {
                    text-decoration: none;
                }
            }

            &:focus {
                outline: none;
            }
        }

        &:after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            border-color: white transparent transparent transparent;
            pointer-events: none;

            position: absolute;
            right: .5em;
            top: .9em;
        }
    }
}

.a0-advanced-cron {
    .a0-label {
        padding-left: 0.5em;
    }
}
