@import "~styles/base.less";
@import (reference) "~styles/colors.less";
@import (reference) "~styles/fabButton.less";
@import (reference) "~styles/inlineButton.less";
@import "~styles/inlineText.less";


.a0-logs-widget {
    display: flex;
    flex-direction: column;
    background-color: @logs-dark-color;
    color: @logs-light-color;
    
    .a0-logs-scroller {
        flex: 1 1 auto;
    }
    
    .a0-logs-error {
        flex: 0 0 auto;
    }
}

.a0-logs-scroller {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    
    .a0-logs-lines {
        flex: 1;
        min-height: 5em;
    }
    
    & > .a0-clear-button {
        position: absolute;
        right: 2em;
        bottom: 1em;
    }
}

.a0-logs-lines {
    font-family: "Roboto Mono", monospace;
    font-size: 13px;
    padding: 1em;
    white-space: pre;
    overflow-x: hidden;
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
        width: 1em;
        height: 1em;
    }
    
    &::-webkit-scrollbar-track {
        background: lighten(@logs-dark-color, 20%);
    }
    
    &::-webkit-scrollbar-thumb {
        background: lighten(@logs-dark-color, 30%);
        border-radius: 0.5em;
    }
    
    &:hover {
        &::-webkit-scrollbar-thumb {
            background: lighten(@logs-dark-color, 40%);
        }
    }
    
    & > .a0-inline-text {
        display: block;
        margin-left: 2em;
        text-indent: -2em;
        white-space: pre-wrap;
        word-break: break-word;
    }
}

.a0-logs-error {
    background-color: @danger-dark-color;
    color: @danger-light-color;
    padding: 0.5em 1em;
    
    .a0-reconnect-button {
        float: right;
    }
}

    
.a0-reconnect-button {
    .a0-create-inline-button();
    
    padding: 0;
    height: auto;
    line-height: inherit;
}

.a0-logs-reconnecting {
    background-color: @success-dark-color;
    color: @success-light-color;
    padding: 0.5em 1em;
}

.a0-inline-inspector {
    &, > * {
        display: inline;
    }
    
    * {
        font-family: inherit !important;
        font-size: inherit !important;
        line-height: inherit !important;
    }
}

.a0-clear-button {
    .a0-create-fab-button(@style: danger, @symbol: trash);
    
    & > .a0-clear-text {
        display: none;
    }
    
    .a0-logs-scroller:hover & {
        .a0-create-inline-button(@style: danger);
        
        // Match height of fab-button
        font-size: 100%;
        height: 35px;
        line-height: 35px;
        border-radius: 17.5px;
        vertical-align: middle;
        
        & > .a0-clear-text {
            display: inline;
        }
        
        &:before {
            display: none;
        }
    }
}