@import "~styles/widget.less";

.a0-secrets-editor {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1.5em;
    overflow: auto;
    
    & > .a0-secret-editor, & > .a0-secret-row {
        flex: 0 0 auto;
        margin-bottom: 1em;
    }
    
    & > .a0-secret-row {
    }
    
    & > .a0-secret-inputs {
    }
}

.a0-secret-editor, .a0-secret-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    
    & > .a0-secret-display, & > .a0-secret-inputs {
        flex: 1 1 auto;
    }
    
    & > .a0-actions {
        flex: 0 0 auto;
        margin-left: 1em;
    }
}

.a0-secret-row, .a0-secret-editor {
    &:not(:last-child) {
        & > .a0-secret-display, & > .a0-secret-inputs {       
            padding-bottom: 1em;
            border-bottom: 1px solid @input-darker-bg-color;
        }
        
        & > .a0-actions {
            margin-bottom: 0.5em;
        }
    }
}

.a0-secret-editor {
}

.a0-secret-inputs {
    display: flex;
    flex-direction: column;
    
    & > .a0-text-input {
        flex: 0 0 auto;
        margin-top: 1em;
        
        &:first-child {
            margin-top: 0;
        }
    }
}

.a0-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
    & > .a0-icon-button {
        flex: 0 0 auto;
    }
}

.a0-secret-display {
    
    & > .a0-key, & > .a0-value {
        height: 28px;
        line-height: 28px;
    }
    
    & > .a0-value {
        margin-top: 1em;
    }
}