@import "~styles/widget.less";


.a0-toggle-button {
    display: inline-block;
    
    .a0-checkbox {
        display: none;
        
    	&,
    	&:after,
    	&:before,
    	& *,
    	& *:after,
    	& *:before,
    	& + .tgl-btn {
    		box-sizing: border-box;
    		
    		&::selection{
    			background: none;
    		}
    	}
    
        & + .a0-toggle {
    		outline: 0;
    		display: block;
    		width: 4em;
    		height: 2em;
    		position: relative;
    		cursor: pointer;
            user-select: none;
            
            margin: 0;
    		border-radius: 2em;
    		padding: 2px;
    		transition: all .4s ease;
    		
    	    background-color: #D0D2D3;

    		&:after, &:before {
    			position: relative;
    			display: block;
    			content: "";
    			width: 50%;
    			height: 100%;
    		}
    		&:after {
    			left: 0;
    			border-radius: 50%;
    			background: #fff;
    			transition: all .2s ease;
    		}
    		&:before {
    			display: none;
    		}
    	}
    	
    	&:checked {
    		& + .a0-toggle {
    		    background-color: @success-bg-color;
    		    
    			&:after {
    				left: 50%;
    			}
    		}
    	    
    	}
    }
}